@import '../../Style.scss';

.card-wrapper{
    width: 100%;
    height: 100%;
    grid-column: 2/14;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-row: 2;
    row-gap: 60px;
    column-gap: 20px;
}