@import "../../Style.scss";

.card {
    height: 100%;
    width: 100%;
    grid-column: span 3;
    border: 2px solid $light-green;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
    box-shadow: (-2px 4px 3px rgba(0, 0, 0, 0.25));
    color: $font-main;
    .item-img {
        max-width:500%;
        height: auto;
    }
    h4 {
        font-size: 1.25em;
        grid-column: 6;
        margin: 10px;
    }
    
}
.card:hover{
    border: 2px solid $dark-green;
}
.card-footer {
    width: 100%;
    height: 100%;
    background-color: $light-creme;
    grid-row: 8;
    grid-column: 1 / span 6;
    .prom-price{
        float: right;
        color: red;
        text-decoration: line-through;
    }

    .add-button {
        background-color: $light-green;
        text-align: center;
        font-size: 1.2em;
    }

    .cart-icon {
        width: 30px;
        height: 30px;
        vertical-align: bottom;
        display: inline-block;
        margin: 10px;
    }
    h4 {
        display: inline-block;
        margin: 10px;
    }
}
