@import '../../Style.scss';
@mixin ddb-base() {
    grid-row: 3/ span 2;
    padding-bottom: 0px;
    h5{
        text-align: center;
        margin-top: 0px;
        color: $font-main;
    }
}

button{
    background-color: inherit;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2em;
    color: $font-main;
    border: 0;
}

.koty{
    grid-column:2/3 ;
    @include ddb-base();

}
.psy{
    grid-column:3/4 ;
    @include ddb-base();
    
}

.button-koty{
    background-color: blue;
    
}
.button-psy{
    background-color: red;
    
}