
#banner-wrapper{
    position: relative;

}
#banner{
    position: relative;
    width: 100%;
    height: 340px;
    vertical-align: middle;
}
#logo{
    position: absolute;
    width: 140px;
    height: 220px;
    left: 64px;
    top: 60px;
}